/*  -------------------------- 922 MEDIAQUERIES -------------------------- */

@media (max-width: 992px) {
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    flex-direction: column;
    width: 90%;
    background: var(--color3);
    border: 2px solid var(--text-gray);
    border-top: 0;
    border-radius: 0px 0px 15px 15px;
    gap: 30px;
    padding: 45px 0;
    display: none;
  }

  .menu-label {
    display: flex;
    order: 2;
  }

  .menu-label img {
    width: 40px;
    height: 20px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  .info p {
    max-width: 400px;
  }

  .ryze img {
    order: 2;
  }

  .contenido {
    flex-direction: column;
  }

  .info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    order: 2;
  }

  .botones {
    width: 250px;
  }

  .content {
    max-width: 500px;
    flex-wrap: wrap;
  }
}

/*  -------------------------- 576 MEDIAQUERIES -------------------------- */

@media (max-width: 576px) {
  .info {
    flex-direction: column;
    text-align: center;
  }

  .info h2 {
    font-size: 5rem;
  }

  .botones {
    justify-content: center;
    align-items: center;
  }

  button {
    width: 100px;
  }

  .content {
    max-width: 400px;
  }
}
